<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" th:href="@{/favicon.ico}"/>
  <title>ホーム | GMOネット銀行クライアント(Example)</title>
</head>
<body>
<div layout:fragment="mainContent">
  <h1>Welcome to Home SUB: <span sec:authentication="name"></span></h1>
  <div th:text="${email}"></div>
</div>
</body>
</html>